.iconWrapper {
  width: 45px;
}

.li {
  list-style: none;
}

.nav__item {
  display: flex;
  align-items: center;
  width: 220px;
  padding: 12px 16px;
  border-radius: 11px;
  text-decoration: none;
  color: var(--main-color);
  border: 1px solid transparent;
}

.nav__item:hover {
  border: 1px solid var(--border-color);
}

.nav__item_active {
  background-color: #131123;
  color: #fff;
}

.nav__item_active:hover {
  border: 1px solid transparent; 
  color: #fff;
}