
.recipePage {
  margin-top: 50px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
}

.recipePage__header {
  min-height: 200px;
  background: var(--recipe-background);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: inherit;
}

.recipe__data {
  width: 50%;
  min-height: inherit;
  padding: 20px;
  background-color: rgba(255, 252, 252, 0.76);
  border-radius: 12px 0 0 12px;
}

.recipePage__title {
  display: flex;
  align-items: center;
  max-width: 370px;
  min-height: 60px;
  margin: 15px 0;
  font-size: 32px;
  font-weight: bold;
}

.recipePage__difficulty {
  display: flex;
  margin-top: 10px;
  font-size: 0.8em;
}

.difficulty__value {
  margin-left: 6px;
}

.recipePage__main {
  padding: 20px;
}

.section__header {
  margin-top: 30px;
}

.recipe__time {
  display: flex;
  align-items: center;
  max-width: 80px;
  font-size: 0.8em;
}

.recipe__time::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  background-image: url("../Recipe/res/timer.svg");
  background-repeat: no-repeat;
}


.button_add {
  margin-top: 37px;
  margin-left: 10px;
}

.button_edit {
  margin-left: 10px;
}