.statistics {
  margin-top: 27px;
}

.statistics__header {
  margin-bottom: 18px;
}

.statistics__data {
  padding: 5px;
  height: fit-content;
  border: 1px solid var(--border-color) !important;
  border-radius: 12px !important;
}

.macronutrients {  
  width: 452px;
  margin-right: 90px;
}

.table {
  margin-bottom: 200px;
}

.calendar {
  margin-top: 88px;
}