@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap');

:root {
  --main-color: #131123;
  --button-primary-color: #FF9053;
  --nav-color: #F5F7F9;
  --border-color: #E7EAE9;
  --border-color-dark: #808080;
  --recipe-background: #E1E2F6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex-wrapper {
  display: flex;
  padding: 0;
}

.flex-wrapper_centered {
  display: flex;
  padding: 0;
  align-items: center;
}

.page-content {
  width: 100%;
  margin-left: 280px;
  padding: 20px 30px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

.error {
  color: rgba(255, 0, 0, 0.781);
  font-size: 0.9rem;
}